.App {
  text-align: center;
  margin-top: 80px;
}

.Dbpedia {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.InputText {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input {
  width: 400px;
  text-align: center;
}
